<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>About</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}" />
  </head>
  <body
    style="
      border: 2px red solod;
      background-color: orange;
      margin-top: 20%;
      text-align: center;
    "
  >
    <div
      style="
        background-color: rgb(255, 255, 128);
        margin: 50px 150px 50px 150px;
        padding: 5px 5px 5px 5px;
      "
    >
      <button><a href="/">Go To Main Main Page</a></button>
      <h1 style="color: red; font-style: calc(); font-size: large">
        Dveloped By- Gautam Yadav
      </h1>
      <h2 style="border: 0em; color: red">Full Stack Developer</h2>
      <p
        style="
          border: 0em;
          color: blue;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font: 200;
        "
      >
        Deepak Vihar, Sector 57, noida, UP <br />
        Email: imgautamyadav@gmail.com
        <br /><br />
        <a
          href="https://www.facebook.com/gautam.raj.39904"
          class="fa fa-facebook"
        ></a>
      </p>
    </div>
  </body>
</html>
